<div class="login">
<div id="login-page" class="row">
  <div class="col l4 m4 offset-m7 offset-l7 s12 z-depth-6 card-panel">
    <form class="login-form" name="loginForm" ng-submit="login()">
      <div class="row margin">
        <div ng-click="home()" class="back"><i class="fa fa-times fa-2x"></i>
      </div>
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <input class="validate"  ng-model="fields.username" name="username" id="email" type="email" required>
          <label for="email" data-error="wrong" data-success="right" >Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <input id="password" ng-model="fields.password" name="password" type="password">
          <label for="password" required>Password</label>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
        </div>
      </div>
    </form>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small"><a ng-click="registerPage()">Register Now!</a></p>
        </div>
      </div>
  </div>
</div>
</div>
